@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
* {
  margin: 0;
  padding: 0;
}
header .logo_line {
  max-width: 1169px;
  height: 125px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  text-decoration: none;
  width: 122px;
  height: 29px;
  color: #4e4e4e;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
header .links {
  display: flex;
}
header .links a {
  text-decoration: none;
  width: 429px;
  height: 13px;
  color: #4e4e4e;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin-left: 20px;
  transition: all 0.2s;
}
header .links a:hover {
  color: #1abb9c;
}
.baner {
  background: url(../img/banner.jpg) no-repeat;
  min-height: 600px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.baner h1 {
  color: #f3f3f3;
  font-family: Roboto Slab;
  font-size: 40px;
  margin: 2%;
}
.baner h2 {
  color: #a8a8a8;
  font-family: Roboto Slab;
  font-size: 32px;
  margin: 1%;
}
.baner a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 45px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
  background-color: #3f8dbf;
  border-radius: 3px;
  margin: 2%;
  transition: all 0.2s;
}
.baner a:hover {
  background-color: #33749E;
}
