*{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
header{
  .logo_line{
    max-width: 1169px;
    height: 125px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    a{
      text-decoration: none;
      width: 122px;
      height: 29px;
      color: #4e4e4e;
      font-family: Roboto Condensed;
      font-size: 40px;
      font-weight: 700;
      line-height: 65px;
      text-transform: uppercase;
      letter-spacing: -2px;
    }
  }
  .links{
    display: flex;
    a{
      text-decoration: none;
      width: 429px;
      height: 13px;
      color: #4e4e4e;
      font-family: Roboto Condensed;
      font-size: 16px;
      font-weight: 700;
      line-height: 35px;
      text-transform: uppercase;
      margin-left: 20px;
      transition: all 0.2s;
      &:hover{
        color: #1abb9c;
      }
    }
  }
}