@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
* {
  margin: 0;
  padding: 0;
}
header .logo_line {
  max-width: 80%;
  height: 125px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
header .logo a {
  text-decoration: none;
  width: 122px;
  height: 29px;
  color: #4e4e4e;
  font-family: Roboto Condensed;
  font-size: 40px;
  font-weight: 700;
  line-height: 65px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
header .links #touch-menu {
  display: none;
}
header .links img {
  border-radius: 2px;
}
header .links a:hover img {
  transition: all 0.1s linear 0.1s;
  transform: scale(1.1) translate3d(0, 3px, 0);
  box-shadow: -6px 6px 5px 0 rgba(0, 0, 0, 0.8);
}
header .links nav .nav {
  display: flex;
  list-style: none;
}
header .links nav .nav li a {
  text-decoration: none;
  width: 429px;
  height: 13px;
  color: #4e4e4e;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  margin-left: 20px;
  transition: all 0.2s;
}
header .links nav .nav li a:hover {
  color: #1abb9c;
}
.baner {
  background: url(../img/banner.jpg) no-repeat;
  min-height: 600px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.baner h1 {
  color: #f3f3f3;
  font-family: Roboto Slab;
  font-size: 40px;
  margin: 2%;
  text-align: center;
}
.baner h2 {
  color: #a8a8a8;
  font-family: Roboto Slab;
  font-size: 32px;
  margin: 1%;
  text-align: center;
}
.baner a {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto Condensed;
  font-size: 14px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  height: 45px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.15);
  background-color: #3f8dbf;
  border-radius: 3px;
  margin: 2%;
  transition: all 0.2s;
}
.baner a:hover {
  background-color: #33749E;
}
content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
content .navigation {
  margin-top: 4%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
content .navigation .wrap_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
content .navigation .wrap_card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 250px;
  height: 215px;
  margin-bottom: 5%;
}
content .navigation .wrap_card .card img:hover {
  animation: rotY 1s linear infinite;
}
@keyframes rotY {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
content .navigation .wrap_card .card h4 {
  color: #4e4e4e;
  font-family: Roboto Slab;
  font-size: 18px;
  font-weight: 700;
}
content .navigation .wrap_card .card p {
  width: 233px;
  height: 63px;
  color: #616161;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
content hr {
  width: 80%;
  max-width: 1200px;
  height: 2px;
  background-color: #000000;
  opacity: 0.11;
  margin: 1% 0 4% 0;
}
content .works {
  width: 80%;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  flex-wrap: wrap;
}
content .works .card_works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 380px;
  height: 450px;
}
content .works .card_works h3 {
  width: 150px;
  height: 14px;
  color: #4e4e4e;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
content .works .card_works a {
  display: block;
  width: 380px;
  height: 270px;
  overflow: hidden;
}
content .works .card_works a img {
  width: 380px;
  height: 270px;
}
content .works .card_works a img:hover {
  transform: scale(1.5);
  transition: transform 0.3s linear 0.15s;
}
content .works .card_works h4 {
  color: #4e4e4e;
  font-family: Roboto Slab;
  font-size: 18px;
  font-weight: 700;
}
content .works .card_works span {
  color: #a8a8a8;
  font-family: Roboto Slab;
  font-size: 13px;
  font-weight: 400;
}
content .works .card_works p {
  color: #5c5c5c;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}
content .end_content {
  width: 100%;
  height: 200px;
  background: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}
content .end_content img {
  margin-top: 2%;
}
content .end_content p {
  max-width: 740px;
  height: 51px;
  color: #a1a1a1;
  font-family: Roboto Slab;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 3%;
}
footer {
  background: url(../img/footer-bg.jpg);
  display: flex;
  justify-content: center;
  padding: 3%;
}
footer .wrap_info {
  width: 80%;
}
footer .wrap_info .info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .wrap_info .info .info_card {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
footer .wrap_info .info .info_card h3 {
  color: #6c6c6c;
  font-family: Roboto Condensed;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 10%;
}
footer .wrap_info .info .info_card p {
  max-width: 250px;
  margin-bottom: 5%;
  line-height: 24px;
}
footer .wrap_info hr {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  opacity: 0.11;
  margin-top: 2%;
}
footer .wrap_info p {
  text-align: left;
  margin-top: 5%;
  color: #cacaca;
  font-family: Roboto;
  font-size: 14px;
}
@media screen and (max-width: 1440px) {
  content .works {
    justify-content: center;
  }
}
@media screen and (max-width: 1440px) {
  content .works .card_works {
    margin-right: 5%;
  }
}
@media screen and (max-width: 960px) {
  content .works .card_works {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
  header .logo_line .links #touch-menu {
    display: block;
  }
}
